.CodeMirror {
 	height: 49vh;
	font-size: 18px;
}

body {
	background: #ddd;
}

#totalTimeDiv {
	position: fixed;
	bottom: 5px;
	right: 5px;
	color: black;
	background-color: #ddd;
	
	z-index: 999;
}

#openDiv {
	display: none;
	color: black;
	background-color: white;
	position: fixed;
	top: 40px;
	left: 50px;
	z-index: 99;
	
	padding: 10px;
	background-color: #ddd;
	
	border: 1px solid black;	
}

#openDiv input {	
	background-color: white;
	color: black;
	caret-color: #0f0;
	border: 1px solid #ddd;
	font-size: 12pt;
}

.button {
	display: inline-block;		
	margin-bottom: 5px; 
	color: black;
	background-color: white;
	cursor: pointer;
	/*text-decoration: underline;*/
	
	border: 1px solid #999;
	padding: 2px;
	border-radius: 5px;
	text-decoration: none;
}

.button:hover {
	background-color: #999;
}

.demo {
	display: inline-block;
	margin-left: 5px;
	color: black;
	cursor: pointer;
	text-decoration: underline;
}

#parameters {
	padding-left: 40px;
	padding-right: 3px;
}

#parameters input {
	width: 100%;
	background-color: white;
	color: #black;
	caret-color: black;
	border: 1px solid #ddd;
	font-size: 12pt;
}

#editor {
	height: 50vh;	
}

#hideResult {	
	transform: rotate(90deg);
	display: inline-block;
	
	position: absolute;
	left: -15px;
	top: 70vh;
	cursor: pointer;
	
	padding-left: 5px;
	padding-right: 5px;
	
	width: 68px;
	height: 20px;
}

#resultScreenshot {	
	transform: rotate(90deg);
	display: inline-block;
	
	position: absolute;
	left: -15px;
	top: 85vh;
	cursor: pointer;
	
	padding-left: 5px;
	padding-right: 5px;
	
	width: 68px;
	height: 20px;
}

#showResult {
	display: none;
	
	position: absolute;
	left: 15px;
	top: 95vh;
	cursor: pointer;
	
	padding-left: 5px;
	padding-right: 5px;
}

#result {
	height: 40vh;
	
	margin-left: 40px;
	background: white;
	color: black;
	
	overflow: scroll;	
}

#result table {
	width: 100%;
	font-family: Arial, monospace;	
	font-size: 16px;
}

#result td {	
	margin: 0px;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;	
}

#result thead tr {
	font-weight: bold;
	/*color: #dc4;*/
	color: black;
}

#result tr {
	margin: 0px;	
}

#loader {
	display: none;
	position: fixed;	
	background-image: url("ajax-loader.gif");
	
	width: 32px;
	height: 32px;
	
	top: 48vh;
	left: 48vw;
}

#help {
	display: none;
	position: fixed;	
	background-color: #ddd;
	
	width: 400px;
	height: 220px;
	
	top: 48vh;
	left: 48vw;
	
	overflow: scroll;
	
	z-index: 999;
}



